@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&family=Poppins:wght@200;300;400;600&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body{
  height: 100%;
  background-image: url(../assets/cafe1.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  flex-direction: column;
  
}

.body-menu{
  background-image: url(../assets/cafe2.png);
 
}

a{
  text-decoration: none;
  color: #ffffff;
}

h2{
  font-size: 4rem;
  color: #ffffff;
  padding: 1rem;
}

header{
  height: 100px;
  display: flex;
  justify-content: center;
  width: 100%;
  position: relative;
}

.container-header{
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.item-redes{
  color: #ffffff;
  font-size: 2rem;
  padding: 0 0.5rem;
}

.item-logo{
  position: absolute;
  top: 10px;
  left: 44%;

}

.item-logo img{
  width: 40%;
}

.navbar ul{
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding: 40px 20px;
  list-style: none;
  font-size: 0.9rem;
}

.item-redes:hover, .navbar ul li a:hover{
  color: #e68541;
}

.main{
  width: 100%;
  margin-top: 6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section-title, .section-about{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  padding: 4rem;
  }

.container-titulos{
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: left;
  flex-direction: column;
  padding: 2rem 0;
}

.container-titulos p{
  color: rgb(230, 133, 65);
  font-weight: bold;
}

.container-titulos h1{
  color: #ffffff;
  font-size: 4rem;
  line-height: 4.5rem;
  padding: 2rem 0;
  font-weight: 600;
  }

button{
  background-color: transparent;
  color: #ffffff;
  width: 10rem;
  height: 3.2rem;
  border: 2px solid #e68541;
  font-weight: bold;
  transition: 0.5s;
}

button:hover{
  background-color: #e68541;
}

.section-about{
  background-image: url(../assets/section.png);
  background-size: contain;
  background-size: 100%;
  display: flex;
  align-content: center;
}

.container-about{
  width: 100%;
  max-width: 1200px;
  display: flex;
  gap: 4rem;
  margin-top: 5rem;
}

.about-text{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
  justify-content: center;
  align-content: center;
 }

 .about-text h2{
  font-weight: 500;
  font-size: 3rem;
  color: #2f2721;
 }

 .about-text span{
  background-color: #e68541;
  width: 30%;
  height: 3px;
 }

 .about-text p{
  color: #8d827a;
 }


 /*SECCIÓN MENÚ*/

 .section-menu, 
 .container-menu, 
 .menu-titles,
 .container-menu-items,
 .items-menu,
 .items-title-menu,
 .price-items,
  .img-menu{
    border: 1px solid red;
  }

  .section-menu{
    background-image: url(../assets/section-menu.png);
    background-size: 100%;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    background-color: #ffffff;
  }

  .container-menu{
    width: 100%;
    max-width: 1200px;
    padding: 2rem 0;
  
   }

   .menu-titles{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: aqua;
    text-align: center;
    gap: 1.5rem;
    padding: 2rem;
   }

   .menu-titles h3{
    font-size: 2rem;
   }

   .menu-titles span{
    width: 10%;
    height: 5px;
    background-color: #e68541;
    
   }

   .container-menu-items{
    display: flex;
    flex-direction: column;
    background-color: #8d827a;
    gap: 1rem;
   }
  
  .items-menu{
    display: flex;
    justify-content: space-between;
  
  }

  .items-title-menu{
    border-bottom: 1px solid #8d827a;
    border-top: 1px solid #8d827a;
  }

  .price-items{
    border-left: 1px solid #8d827a;
    padding: 1rem 2rem;
    color: #e68541;
    font-weight: bold;
  }





 /*FIN SECCIÓN MENÚ*/


.footer{
  width: 100%;
  background-color: #2f2721;
  display: flex;
  justify-content: center;
  margin-top: 4rem;
}

.container-footer{
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  }

.container-datos-footer{
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  flex-wrap: wrap;
}

.item-datos-footer{
  width: 16rem;
  text-align: center;
  padding: 1rem;
  gap: 2rem;
  color: #ffffff;
}

.item-datos-footer h4{
  font-size: 1rem;
  padding: 1rem 0;
}

.item-datos-footer p{
  font-size: 0.9rem;
}

.footer-copy{
  width: 100%;
  max-width: 1200px;
  height: auto;
  border-top: 1px solid #ffffff1a;
  display: flex;
  justify-content: center;
  padding: 2rem;
  color: #ffffff;
  font-size: 0.9rem;
}

.footer-copy a{
  color:  #e68541;
}


.footer-icon{
  font-size: 2rem;
  color: #e68541;
}