*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.container{
  display: flex;
  gap: 10px;
  height: 500px;
  justify-content: center;
  align-items:  center;
  padding: 20px;
  background-color: black;

}

.items{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #47d7ac;
  width: 100px;
  height: 100px;
 
  
}